<%= form_for(@task) do |f| %>
  <div class="my-3">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="mb-3" >
    <%= f.label :details %>
    <%= f.text_field :details %>
  </div>
    <% unless params[:action] == "new" %>
      <div class="mb-3" >
        <%= f.label :completed %>
        <%= f.check_box :completed %>
      </div>
    <%end %>
  <div class="mb-3">
    <%= f.submit "Submit", class: "btn btn-secondary m-3"%>
  </div>
<% end %>
<%= link_to 'All Tasks', tasks_path %>

